doctype html
html
  head
    link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/intellij-light.min.css"
    script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"
    script= "hljs.highlightAll();"
    meta[charset="utf-8"]
    title BD Backups
    meta[name="viewport" content="width=device-width, initial-scale=1.0"]
    sass:
      body1
        background-color: black
        color: white
      .action
        margin-right: 1em
      .sha256, .stack_name, .container_name
        opacity: 0.5
        margin-left: 0.3em
      table
        width: 100%
        border-collapse: collapse
        tr:hover
          background: antiquewhite
        td, th
          padding-right: 1em
          text-align: left
          white-space: nowrap
          max-width: 18vw
          overflow: hidden
          text-overflow: ellipsis
          //word-wrap: break-word
          //word-break: break-all
      body
        font-family: monospace
        nav
          margin: -0.5em
          background: #ededed
          a
            font-size: 1.5em
            text-decoration: none
            &:hover
              text-decoration: underline
          .time
          .version
            margin-right: 4em
      .align-content-center
        align-content: center
      .text-align-center
        text-align: center
      .text-align-right
        text-align: right
      .font-weight-bold
        font-weight: bold
      .white-space-pre
        white-space: pre
      .width-fit-content
        width: fit-content
      .limit-max-width
        max-width: 99%
      .overflow-x-auto
        overflow-x: auto
      .action-box-sizes
        width: 1.5rem
        height: 1.5rem
      .font-size-bigger
        font-size: 1.2rem

      .vertical-margin
        margin-top: 1rem
        margin-bottom: 1rem
      .vertical-margin-small
        margin-top: 0.5rem
        margin-bottom: 0.5rem
      .vertical-margin-big
        margin-top: 2rem
        margin-bottom: 2rem

      .margin-left-small
        margin-left: 0.5rem
      .margin-left
        margin-left: 1rem
      .margin-left-big
        margin-left: 2rem

  body
    nav style="display: flex; justify-content: space-between; padding: 1em;"
      a.home-link href="#" #Home
      .right
        span.version = "v" + (ENV['ORG_OPENCONTAINERS_IMAGE_VERSION'] || '<local run>')
        span = Time.now

    javascript:
      if (!location.href.includes('?') && !location.href.endsWith('/')) { location.href = location.href + '/'; }

      const BASE_PATH = window.location.pathname.match(/(.*insight)/)?.[1] || '';
      const home = document.querySelector('a.home-link');
      home.href = BASE_PATH + '/';

    == yield
